body {
    margin: 0;
    padding: 0;
}
section {
    width: 100vw;
    height: 100vh;
    background-image: url(Stock\6.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 47vw;
    height: 57vh;
    background-image: url(Stock\w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
